# ~/.config/ghostty/config
# @schappellshow
# https://forum.openmandriva.org/
#
# This is the configuration file for Ghostty.
#
# This config file sets up the OpenMandriva theme for the ghostty terminal only.
# This file does not set any default options, since Ghostty ships
# with sensible defaults for all options. Users should only need to set
# options that they want to change from the default.
#
# Run `ghostty +show-config --default --docs` to view a list of
# all available config options and their default values.
#
# Additionally, each config option is also explained in detail
# on Ghostty's website, at https://ghostty.org/docs/config.

# Config syntax crash course
# ==========================
# # The config file consists of simple key-value pairs,
# # separated by equals signs.
# font-family = Iosevka
# window-padding-x = 2
#
# # Spacing around the equals sign does not matter.
# # All of these are identical:
# key=value
# key= value
# key =value
# key = value
#
# # Any line beginning with a # is a comment. It's not possible to put
# # a comment after a config option, since it would be interpreted as a
# # part of the value. For example, this will have a value of "#123abc":
# background = #123abc
#
# # Empty values are used to reset config keys to default.
# key =
#
# # Some config options have unique syntaxes for their value,
# # which is explained in the docs for that config option.
# # Just for example:
# resize-overlay-duration = 4s 200ms

# OM Theme
font-family = LiberationMono-Regular
font-family-bold = LiberationMono-Bold
font-family-italic = LiberationMono-Italic
font-family-bold-italic = LiberationMono-Bold-Italic
font-size = 9.0
background-blur = true
background-opacity = 0.7
background = #232627
foreground = #ffffff
cursor-color = #d0d0d0
selection-background = #444444
palette = 0=#232627
palette = 8=#767676
palette = 1=#cc2263
palette = 9=#e2266e
palette = 2=#40da76
palette = 10=#4bff8a
palette = 3=#da7340
palette = 11=#dac040
palette = 4=#2080bb
palette = 12=#40a5da
palette = 5=#a740da
palette = 13=#c14afd
palette = 6=#61c583
palette = 14=#72e69a
palette = 7=#afb3bd
palette = 15=#ecf2ff
selection-foreground = #cecece
